
  h1{
    font-size: 25px;
  }
  strong{
    font-size: 20px;
    text-align: justify;
    text-justify: inter-word;
  }
  .resize1{
    font-size: 12px;
    text-align: justify;
    text-justify: inter-word;  
  }
 
  .resize{
    margin-left: -1px;
  }
  .sizetext{
    font-size: 40px;
  }
  .icon1{
    margin-right: 10%;
  }
  .icon2{
    margin-right: 12%;
  }
  .icon3{
    margin-right: 12.5%;
  }

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

  mat-icon {
      margin-right: 8px;
  }
}
.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}
mat-toolbar {
  background: #004a9f;
  color: white;
}
.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  display: flex;
  justify-content: center;
  align-items:center;

  font-size: 2rem;
  color: lightgray;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}
mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #002b5c;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}
:host{
    ::ng-deep .mat-card {
      /* background-color:  rgba(205, 203, 250, 0.5); */
      background-color: #4d80bc;
    }
    
  }
  mat-card::ng-deep.mat-card-header-text {
    width: 100%;
    font-size: 40px;
  }
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    margin-left: 30px;
  
  }
  th,
  td {
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
    color: #fff;
  }
  
  th {
    text-align: left;
  }
  
  thead {
    th {
      background-color: #55608f;
    }
  }
  
  tbody {
    tr {
      &:hover {
        background-color: rgba(255,255,255,0.3);
      }
    }
    td {
      position: relative;
      &:hover {
        &:before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: -9999px;
          bottom: -9999px;
          background-color: rgba(255,255,255,0.2);
          z-index: -1;
        }
      }
    }
  }
  .title{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: -10%;
  }
  .check_circle_outline{
    color: green;
    
  }
  .btn_action{
    background-color: #11ffee00;
    border: #11ffee00;
    outline: none;
  }
  .btn_action :hover{
    border: none;
  }