<div class="row">
<div class="column">
<form class="example-form" [formGroup]="loginForm">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Numero</mat-label>
      <input type="number" matInput formControlName="Numero" placeholder="999">
     
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Type</mat-label>
        <input type="text" matInput formControlName="Type" placeholder="BTS">
       
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nom</mat-label>
        <input type="text" matInput formControlName="Nom" placeholder="mednine">
       
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Transmission</mat-label>
        <input type="text" matInput formControlName="Transmission" placeholder="100">
       
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Capacite</mat-label>
        <input type="text" matInput formControlName="Capacite" placeholder="...">
       
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Bande Passante</mat-label>
        <input type="text" matInput formControlName="Bande" placeholder="...">
       
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>configuration</mat-label>
        <input type="text" matInput formControlName="Configuration" placeholder="...">
       
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Acceptance</mat-label>
        <input type="date" matInput formControlName="Acceptance" placeholder="01/01/2022">
       
      </mat-form-field>
      <button mat-raised-button type="reset" class="submitbutton" color="primary" (click)="submit(loginForm)" [disabled]="!loginForm.valid">Ajouter</button>
      <br>
  </form>
  <button mat-raised-button class="displaybutton" color="primary" (click)="stations()"> Afficher Les Stations</button>
  <jw-modal id="custom-modal-1">
    <table class="darkTable" cellspacing="0">
        <thead>
        <tr>
        <th>Numero</th>
        <th>Type</th>
        <th>Nom </th>
        <th>Transmission</th>
        <th>Capacite</th>
        <th>Bande</th>
        <th>Configuration </th>
        <th>Acceptance</th>
        <th>Lat</th>
        <th>Lng</th>
        <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of data">
        <td class="td1">{{data.Numero}}</td>
        <td class="td1">{{data.Type}}</td>
        <td class="td1">{{data.Nom}}</td>
        <td class="td1">{{data.Transmission}}</td>
        <td class="td1">{{data.Capacite}}</td>
        <td class="td1">{{data.Bande}}/10</td>
        <td class="td1">{{data.Configuration}}</td>
        <td class="td1">{{data.Acceptance}}</td>
        <td class="td1">{{data.Lat.substring(0,8)}}</td>
        <td class="td1">{{data.Lng.substring(0,8)}}</td>
        <td> <button mat-icon-button (click)="update(data)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="delete(data._id)">
          <mat-icon>delete</mat-icon>
        </button></td>
        </tr>
        </tbody>
        </table>
</jw-modal>
</div>
<div class="column">
  <div id="map"></div>
  </div>
</div>
